force-app/main/default/flows/SE_ServiceResource_CreateTimeSheets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_Time_Sheets_for_a_single_SR</name>
        <label>create Time Sheets for a single SR</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>TimeSheetUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TimeSheet_Records_Geneeration_Successful</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>srIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TimeSheetUtils</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_NumberOfRecordsCreated</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <description>Create Timesheets from a Service Resource&apos;s Record Page</description>
    <environments>Default</environments>
    <interviewLabel>SE_ServiceResource_CreateTimeSheets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SE_ServiceResource_CreateTimeSheets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_Time_Sheets_for_a_single_SR</targetReference>
        </connector>
        <fields>
            <name>confirmText</name>
            <fieldText>&lt;p&gt;Salesforce will generate future Timesheet records for the Service Resource if the records do not exists yet. Are you sure you want to proceed? &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Timesheets</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TimeSheet_Records_Geneeration_Successful</name>
        <label>TimeSheet Records Geneeration Successful</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p&gt;The Timesheet creation process ran successfully.&lt;/p&gt;&lt;p&gt;Records generated:{!var_NumberOfRecordsCreated}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_NumberOfRecordsCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
